




.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  font-family: cursive;
  border: inset 1px solid rgb(67, 10, 224);
  float: left;
  color:grey;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  text-align: center;
  height: 5.5rem;
  width: 5.5rem;
}

.game{
  text-align: center;
  align-items: center;
}
.game-board{
  margin: auto;
  max-width: 25%;
}
.title{
  font-family: cursive;
  color: blueviolet;
  border-bottom: 3px solid navy;
  width: 85%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 5%;
  border-bottom-right-radius: 50px;
}
.moves{
  height: 3rem;
  width: 3rem;
  background-color: steelblue;
  color: #fff;
  border: 3px solid skyblue;
  border-bottom-right-radius: 30px;
}
.status{
  color: burlywood;
  font-size: 1rem;
}
ol li{
  display: inline;
}
@media only screen and (max-width:600px){
  .game-board{
    max-width: 77%;
  }
}
.square:hover{
  border-color: blueviolet;
}
.square:focus{
  border-color: brown;
}
.square:active{
  border-color: chocolate;
}

